/* src/styles/Header.css */
.logo-img {
  width: 130px;
  height: auto;
  object-fit: contain;

  /* Animation */
  animation: slideInLeft 0.7s ease-out;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-40%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}